body{
	background:url(../img/background.jpg) bottom fixed no-repeat,
	#03a9f4;
			
/*	background-attachment: fixed; 
	background-repeat: no-repeat; */
/*	background-position: center; */
	
}
div[class*="columna"]{
  margin-top: 2rem;
  background:trasparent
}
nav{
	background:none;
	box-shadow:none;
}
nav ul a.btn{
	     margin-left: 0;
		 padding: 0 0.5rem; 
}
.left h4 {
 position: relative;
 bottom:1rem;
 color:#fff;
}
i.left {
    float: left;
    margin-top: -10px;
}
.cabecera{
  height:7rem;
}

.responsive-img{
	border–top: 1px solid #444;
	border–right: 1px solid #333;
	border–bottom: 1px solid #000;
	border–left: 1px solid #333;
	background: #222;
}
.logo-img{
	width: 100px;
	position: relative;
	margin-left: 5rem;
	top:3rem;
	float: left;
	border-radius: 5px;
	border–top: 1px solid #444;
	border–right: 1px solid #333;
	border–bottom: 1px solid #000;
	border–left: 1px solid #333;
}
.buscar-campo{
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 70%;
}

.contenedor-botones{
  margin-top: 1rem;
}
.btn-social {
    display: inline-block;
    background-color:#fff !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 53px;
    height: 53px;
	margin-top:2rem;
    border-radius: 5%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}
@media screen and (max-width: 992px) {
nav ul a span{
	    display:none; 
}
.logo-img{

	margin-left: 0.4rem;
}
@media (max-width: 767px) {
  .columna-grupos{
    padding: 0 !important;
  }
nav ul {
    /* margin: 0; */
    margin-top: -5rem;
}
.logo-img{
	top:1rem;
}
.left h4 {
 bottom:0;
}
}
